/* mobile: */

@media screen and (max-width:740px) {
    header {
        height: 45vh;
    }
    .header {
        height: 56px;
        display: flex;
        align-items: center;
    }
    .header__right-close {
        display: block;
    }
    .header__slider {
        height: 100%;
    }
    .header__nav-auto {
        margin-top: 100%;
    }
    .header__slider-slide {
        height: 100%;
    }
    .header__slider-info {
        bottom: 58px;
    }
    .header__search {
        display: block;
    }
    .header .header-list__menu {
        display: block;
    }
    .header__silder-content {
        margin-left: 30px;
        margin-bottom: -37px;
        font-size: 10px;
        width: 59vw;
    }
    .header__slider-info div {
        font-size: 19px;
        line-height: 20px;
        padding: 8px;
        margin-bottom: 7px;
        width: 40px;
        height: 40px;
        font-size: 17px;
    }
    .header__slide-img img {
        width: 100%;
    }
    .header__silder-content h2 {
        font-size: 20px;
    }
    .header__search-left {
        padding: 70px;
        height: 200px;
    }
    .header__search-left p span,
    .header__search-left p:nth-child(1),
    .header__search-left p:nth-child(3),
    .header__search-left p:nth-child(2) {
        font-weight: 600;
        font-size: 20px;
    }
    .container_card {
        margin-top: 50px;
    }
    .header__search-right-body .header__search-right-form-field input,
    .header__search-right-body div select {
        width: 100%;
    }
    .header__search-right-body .row>div {
        margin-top: 16px;
    }
    .header__search-right-head {
        margin-bottom: 17px;
        text-align: center;
        margin-top: 16px;
    }
    .header__search-right-body .row:nth-child(2) div:nth-child(3) .row {
        width: 100%;
    }
    .header__search-right-body .row:nth-child(2) div:nth-child(3) .row div:first-child,
    .header__search-right-body .row:nth-child(2) div:nth-child(3) .row div:nth-child(2) {
        padding: 0;
    }
    .view__header-info-photo .view__header-info-photo-container,
    .view__header-info-map .view__header-info-map-container,
    .view__header-info-street .view__header-info-street-container {
        height: 44%;
        width: 80%;
        position: relative;
    }
    .view__header-info-photo-img img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;
    }
    .view__header-info-map-container .view__header-info-map-close,
    .view__header-info-street-container .view__header-info-street-close,
    .view__header-info-photo-container .view__header-info-photo-close {
        position: absolute;
        top: 0px;
        z-index: 3;
        border-radius: 0;
        right: 0px;
        padding: 1px 18px;
        font-size: 30px;
    }
    .view__header-photo-next-after,
    .view__header-photo-next-before {
        padding: 1px 18px;
        font-size: 30px;
        border-radius: 0;
        top: 47%;
    }
    .view__header-photo-next-after {
        right: 43px;
    }
    .view__header-photo-next-before {
        left: 43px;
    }
    .view__header-info-share {
        left: 103px;
        top: 295px;
    }
    .view__header-info-share::after {
        bottom: 4px;
    }
    .view__header-info-share div {
        padding: 0px 10px;
    }
    .header__search-right-body .row:nth-child(3) .range {
        width: 100%;
    }
    .header__search-right-body-search {
        margin: 20px 31px;
    }
    .container_card {
        width: 94%;
    }
    .property__list-header-right {
        padding: 76px 0px 9px 96px;
    }
    .property__lists-slider {
        margin-top: 0;
        padding: 0;
    }
    .property__list-body {
        padding-top: 94px;
    }
    .property__list-line .property__items:hover .property__img {
        height: 45%;
    }
    .property__list-body .property__list-line .property__img img {
        height: 100%;
    }
    .property__list-line-text .property__list-btn:nth-child(1),
    .property__list-line-text .property__list-btn {
        height: 51px;
    }
    .property__list-line-text .property__list-btn-right span {
        font-size: 13px;
    }
    .property__list-line-text .property__list-btn-left::after {
        height: 51px;
    }
    .property__list-place-items {
        height: 86%;
    }
    .property__list-place div div .property__list-place-img {
        height: 300px;
    }
    .property__list-line-text .property__list-btn-cost {
        margin-left: 19px;
    }
    footer {
        height: 100%;
    }
    .footer__container .footer__container-logo {
        margin: 0 auto;
    }
    .footer__container-info {
        text-align: center;
    }
    .footer__container-between ul {
        padding: 0
    }
    .reveal__scale.active-scale {
        text-align: center;
    }
    .gototop {
        width: 40px;
        height: 40px;
        bottom: 40px;
    }
    .header__slide-hidden1 .header__slider-info div:first-child:hover::before,
    .header__slide-hidden1 .header__slider-info div:nth-child(2):hover::before,
    .header__slide-hidden1 .header__slider-info div:nth-child(3):hover::before {
        width: 100px;
        font-size: 11px;
        bottom: 0;
    }
    .header__slide-hidden1 .header__slider-info div:nth-child(3):hover::after,
    .header__slide-hidden1 .header__slider-info div:nth-child(2):hover::after,
    .header__slide-hidden1 .header__slider-info div:first-child:hover::after {
        bottom: 7px;
    }
}


/* tablet */

@media screen and (min-width: 740px) and (max-width:1024px) {
    .header__item a {
        font-size: 10px;
    }
    header {
        height: 50vh;
    }
    .header__right-close {
        display: block;
    }
    .header__slider {
        height: 100%;
    }
    .header__search-left p:nth-child(3),
    .header__search-left p:nth-child(2) {
        font-weight: 600;
        font-size: 29px;
    }
    .header__search {
        display: flex;
    }
    .header__search-right-body div select {
        font-size: 16px;
        padding: 4px 3px;
        width: 107%;
    }
    .header__search-right-body .header__search-right-form-field input {
        width: 107%;
        padding: 4.8px 3px;
        font-size: 16px;
    }
    .header__search-right-body .row:nth-child(2) div:nth-child(3) .row {
        width: 107%;
        font-size: 16px;
    }
    .header__search-right-body div:nth-of-type(3) {
        margin-bottom: 5px;
    }
    .header__search-right-body>.row:nth-of-type(2),
    .header__search-right-body>.row:nth-of-type(1) {
        margin-bottom: 5px;
    }
    .header__search-right-body .row:nth-child(3) .range {
        width: 100%;
    }
    .header__search-right-body .row:nth-child(3) .field .value.left {
        left: -22px;
        position: absolute;
        top: 20px;
    }
    .header__search-right-body .row:nth-child(3) .range input {
        width: 100%;
    }
    .header__search-right-body div:nth-of-type(3) div:nth-of-type(3) input {
        width: 102.3%;
    }
    .header__search-right-body .header__search-right-form-field {
        margin-bottom: 20px;
    }
    .header__search-right-body-search {
        width: 100%;
    }
    .property__list-header-right {
        padding: 130px 0px 12px 129px;
    }
    .property__header-btn-right a {
        padding: 10px;
        width: 95px;
        height: 42px;
    }
    .container_card {
        height: 100%;
        width: 94%;
        margin: 20px auto;
    }
    .property__list-line:nth-child(2) div:nth-of-type(3),
    .property__list-line:nth-child(1) div:nth-of-type(3) {
        margin: 0 auto;
    }
    .property__list-line .property__items {
        height: 63%;
    }
    .property__list-line .property__items:hover {
        height: 103%;
    }
    .property__list-line .property__list-line-text {
        margin-top: 0;
    }
    .property__list-line-content h1 {
        font-size: 20px;
    }
    .property__list-line-text .property__list-btn-left::after {
        height: 59px;
    }
    .property__list-line-text .property__list-btn-cost span {
        margin-left: 10px;
    }
    .property__list-place-items {
        height: 89%;
    }
    footer {
        width: 100%;
        height: 100%;
    }
}